[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spduration"]
	path = spduration
	url = https://github.com/andybega/spduration
[submodule "states"]
	path = states
	url = https://github.com/andybega/states
